{template 'common/header'}
<ul class="nav nav-tabs">
    <li {if $op == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('heroes',array('op'=>'display'))}">群英会管理</a></li>
    <li {if $op == 'edit'}class="active"{/if}><a href="{php echo $this->createWebUrl('heroes',array('op'=>'edit'))}">添加群英会</a></li>
</ul>

{if $op == 'display'}
<div class="main">
    <form action="" method="post" class="form-horizontal form">
      <div class="panel panel-info">
          <div class="panel-heading">群英会基本设置</div>
          {php $heroes = iunserializer($content['heroes'])}
          <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-lg-2 control-label">封面图</label>
                <div class="col-xs-12 col-sm-9">
                    {php echo tpl_form_field_image('heroes[heroesIcon]',$heroes['heroesIcon'])}
                    <div style="width:100%;">
                            <div style="font-size:12px;color:#999;">(尺寸标注：1000px * 656px)</div>
                      </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-lg-2 control-label">封面标题</label>
                <div class="col-xs-12 col-sm-9">
                    <input type="text" class="form-control" name="heroes[heroesTitle]" value="{$heroes['heroesTitle']}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-lg-2 control-label">封面内容</label>
                <div class="col-xs-12 col-sm-9">
                    <textarea class="form-control" rows="3" name="heroes[heroesContent]">{$heroes['heroesContent']}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-8 col-md-offset-9 col-lg-offset-9">
                    <input type="hidden" name="type" value="heroes">
                    <input type="button" value="复制链接" class="copyUrl btn btn-info" data-url="{php echo $this->createMobileUrl('heroes')}">
                    <input type="submit" name="submit" value="提交" class="btn btn-primary">
                    <input type="hidden" name="token" value="{$_W['token']}">
                </div>
            </div>
            <script>
                $('.copyUrl').each(function() {
                    util.clip(this, $('.url').data('url'));
                });
                $('.copyUrl').on('click',function() {
                    util.clip(this, $(this).data('url'));
                });
            </script>
          </div>
      </div>
    </form>
    <div class="panel panel-info">
        <div class="panel-heading">群英会管理</div>
        <div class="panel-body table-responsive">
            <table class="table table-hover" style="font-size:14px;">
                <thead class="navbar-inner">
                  <tr>
                      <th style="width:80px;">编号</th>
                      <th>标题</th>
                      <th>封面</th>
                      <th style="width:230px;">简介</th>
                      <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                    {if !empty($herolists)}
                    {loop $herolists $key $hero}
                    <tr>
                        <td>{php echo $key+1}</td>
                        <td>{$hero['heroTitle']}</td>
                        <td>
                            <img style="max-height:100px;" src="{php echo tomedia($hero['heroIcon'])}" alt="">
                        </td>
                        <td style="width:230px;">
                            <div style="width:100%;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:5;-webkit-box-orient:vertical;">
                                {$hero['heroDesc']}
                            </div>
                        </td>
                        <td>
                            <a href="https://www.buwealth.com/web/index.php?c=site&a=entry&op=post&do=goods&m=hc_credit_shopping" class="btn btn-default btn-primary" data-toggle="tooltip" data-placement="top"><i class="fa">添加商品</i></a>
                            <a href="{php echo $this->createWebUrl('heroes', array('op'=>'edit', 'id'=>$hero['id']));}" class="btn btn-default btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="编辑"><i class="fa fa-edit"></i></a>
                            <a onclick="if(!confirm('删除后将不可恢复,确定删除吗?')) return false;" href="{php echo $this->createWebUrl('heroes', array('op'=>'delete', 'id'=>$hero['id']));}" class="btn btn-default btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="删除"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {/loop}
                    {else}
                    <tr>
                        <td colspan="5" class="text-center">尚未添加主题</td>
                    </tr>
                    {/if}
                </tbody>
            </table>
            {$pager}
        </div>
    </div>
</div>
{/if}

{if $op == 'edit'}
<div class="main">
    <form action="" method="post" class="form-horizontal form" id="form">
        <div class="panel panel-default">
            <div class="panel-heading">添加群英会</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-lg-2 control-label">标题</label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" class="form-control"  name="heroTitle" value="{$content['heroTitle']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-lg-2 control-label">简介</label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" class="form-control"  name="heroDesc" value="{$content['heroDesc']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-lg-2 control-label">封面</label>
                    <div class="col-xs-12 col-sm-9">
                        {php echo tpl_form_field_image('heroIcon',$content['heroIcon'])}
                        <div style="width:100%;">
                            <div style="font-size:12px;color:#999;">(尺寸标注：590px * 402px)</div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-lg-2 control-label">分类</label>
                    <div class="col-xs-12 col-sm-9">
                        <select name="wid">
                            {loop $class $key $hero}
                            <option class="form-control" value="{$hero['id']}">{$hero['name']}</option>
                            {/loop}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-lg-2 control-label">排序</label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" class="form-control" name="displayorder" value="{$content['displayorder']}">
                        <h5><small>注意：数字越大排序越前</small></h5>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                        <input type="hidden" name="id" value="{$content['id']}">
                        <input type="submit" name="submit" value="提交" class="btn btn-primary" id="dosubmit">
                        <input type="hidden" name="token" value="{$_W['token']}">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

</script>
{/if}
{template 'common/footer'}
