{template 'common/header'}
<ul class="nav nav-tabs">
    <li {if $op == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('message',array('op'=>'display'))}">讯息管理</a></li>
    <li {if $op == 'edit'}class="active"{/if}><a href="{php echo $this->createWebUrl('message',array('op'=>'edit'))}">添加讯息</a></li>
</ul>

{if $op == 'display'}
<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">讯息管理</div>
        <div class="panel-body table-responsive">
            <table class="table table-hover" style="font-size:14px;">
                <thead class="navbar-inner">
                  <tr>
                      <th style="width:80px;">编号</th>
                      <th style="width:220px;">标题</th>
                      <th>封面</th>
                      <th style="width:230px;">内容</th>
                      <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                    {if !empty($msgs)}
                    {loop $msgs $key $msg}
                    <tr>
                        <td>{php echo $key+1}</td>
                        <td>{$msg['mesTitle']}</td>
                        <td>
                            <img style="max-height:100px;" src="{php echo tomedia($msg['mesIcon'])}" alt="">
                        </td>
                        <td style="width:230px;">
                            <div style="width:100%;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:5;-webkit-box-orient:vertical;">
                                {$msg['mesDesc']}
                            </div>
                        </td>
                        <td>
                            <a href="{php echo $this->createWebUrl('message', array('op'=>'edit', 'id'=>$msg['id']));}" class="btn btn-default btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="编辑"><i class="fa fa-edit"></i></a>
                            <a onclick="if(!confirm('删除后将不可恢复,确定删除吗?')) return false;" href="{php echo $this->createWebUrl('message', array('op'=>'delete', 'id'=>$msg['id']));}" class="btn btn-default btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="删除"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {/loop}
                    {else}
                    <tr>
                        <td colspan="5" class="text-center">尚未添加主题</td>
                    </tr>
                    {/if}

                </tbody>
            </table>
            {$pager}
        </div>
    </div>
</div>
{/if}

{if $op == 'edit'}
<div class="main">
    <form action="" method="post" class="form-horizontal form" id="form">
        <div class="panel panel-default">
            <div class="panel-heading">添加讯息</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-lg-2 control-label">讯息标题</label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" class="form-control"  name="mesTitle" value="{$content['mesTitle']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-lg-2 control-label">讯息简介</label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" class="form-control"  name="mesDesc" value="{$content['mesDesc']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-lg-2 control-label">讯息封面</label>
                    <div class="col-xs-12 col-sm-9">
                        {php echo tpl_form_field_image('mesIcon',$content['mesIcon'])}
                        <div style="width:100%;">
                            <div style="font-size:12px;color:#999;">(尺寸标注：1097px * 671px)</div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-lg-2 control-label">讯息排序</label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" class="form-control" name="displayorder" value="{$content['displayorder']}">
                        <h5><small>注意：数字越大排序越前</small></h5>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-lg-2 control-label">内容</label>
                    <div class="col-xs-12 col-sm-9">
                        {php echo tpl_ueditor('mesContent',$content['mesContent']);}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-lg-2 control-label">内容(移动端)</label>
                    <div class="col-xs-12 col-sm-9">
                        {php echo tpl_ueditor('mesPcontent',$content['mesPcontent']);}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                        <input type="hidden" name="id" value="{$content['id']}">
                        <input type="submit" name="submit" value="提交" class="btn btn-primary" id="dosubmit">
                        <input type="hidden" name="token" value="{$_W['token']}">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

</script>
{/if}
{template 'common/footer'}
