.float_l {
  float: left;
}
.float_r {
  float: right;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #282828;
}
.createOlder {
  width: 100%;
  background-color: #232323;
}
.createOlder .createOlder_main {
  width: 56rem;
  margin: 0 auto;
}
.createOlder .createOlder_main .PC-box1 h2 {
  margin: 0;
  padding-top: 3rem;
  color: #BE9D70;
}
.createOlder .createOlder_main .PC-box1 .minline {
  width: 2rem;
  height: 1px;
  background-color: #BE9D70;
  margin: 0 0 4rem 0;
}
.createOlder .createOlder_main .m-box1 {
  display: none;
}
.createOlder .createOlder_main .address {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.createOlder .createOlder_main .address p {
  margin: 0;
  color: #BE9D70;
  font-size: 1.1rem;
}
.createOlder .createOlder_main .address p a {
  position: relative;
  color: #BE9D70;
  font-size: 15px;
  text-decoration: none;
}
.createOlder .createOlder_main .address .min-line {
  width: 100%;
  height: 1px;
  background-color: #BE9D70;
}
.createOlder .createOlder_main .address > ul {
  margin: 2rem 0 0 0;
  padding: 0;
  width: 100%;
}
.createOlder .createOlder_main .address > ul li {
  position: relative;
  list-style: none;
  margin-bottom: 1rem;
}
.createOlder .createOlder_main .address > ul li .editor {
  display: none;
}
.createOlder .createOlder_main .address > ul li:hover {
  background-color: #333333;
}
.createOlder .createOlder_main .address > ul li:hover .editor {
  display: block;
}
.createOlder .createOlder_main .address > ul li span {
  color: #FFFFFF;
  font-size: 14px;
  display: inline-block;
}
.createOlder .createOlder_main .address > ul li span a {
  text-decoration: none;
  display: inline-block;
}
.createOlder .createOlder_main .default::after {
  content: '默认地址';
  margin-left: 0.2rem;
  display: inline-block;
  border: 1px solid #ffffff;
}
.createOlder .createOlder_main .m-address {
  display: none;
}
.createOlder .createOlder_main .shoptext {
  color: #BE9D70;
  font-size: 1.1rem;
  margin: 0 0 1rem 0;
}
.createOlder .createOlder_main > ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.createOlder .createOlder_main > ul li {
  list-style: none;
  width: 100%;
  border-top: 1px solid #BE9D70;
  border-bottom: 1px solid #BE9D70;
  padding: 3rem 0;
  display: flex;
}
.createOlder .createOlder_main > ul li > img {
  width: 12rem;
  height: 6rem;
  margin-right: 3rem;
}
.createOlder .createOlder_main > ul li .Vnum > span {
  line-height: 6rem;
  display: inline-block;
  font-size: 14px;
  color: #FFFFFF;
}
.createOlder .createOlder_main > ul li .Vnum > span:nth-child(1) {
  margin-right: 10rem;
}
.createOlder .createOlder_main > ul li .Vnum > span:nth-child(2) {
  margin-right: 7rem;
}
.createOlder .createOlder_main > ul li .Vnum > span:nth-child(3) {
  margin-right: 6rem;
}
.createOlder .createOlder_main .palynum {
  color: #FFFFFF;
  width: 56rem;
  font-size: 14px;
  padding: 2rem 2rem 0 2rem;
  width: 18rem;
  height: 8rem;
  margin-left: 35rem;
}
.createOlder .createOlder_main .m-palynum {
  display: none;
}
.createOlder .createOlder_main .gross {
  width: 56rem;
  height: 5rem;
  background-color: #333333;
  padding: 1rem;
  box-sizing: border-box;
}
.createOlder .createOlder_main .gross p {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 4rem;
}
.createOlder .createOlder_main .gross p span {
  color: #FFFFFF;
  font-size: 14px;
}
.createOlder .createOlder_main .lastbutton {
  width: 13rem;
  height: 3rem;
  background-color: #BE9D70;
  border-radius: 0.5rem;
  margin: 2rem 0 0 40rem;
}
.createOlder .createOlder_main .lastbutton a {
  text-align: center;
  line-height: 3rem;
  display: block;
  width: 13rem;
  height: 3rem;
  text-decoration: none;
  font-size: 1rem;
  color: #232323;
}
.createOlder .createOlder_main .logo {
  display: none;
}
.cvs {
  width: 100%;
  height: 100%;
  background-color: #282828;
  position: relative;
  display: none;
}
.cvs .close {
  position: absolute;
  top: -7rem;
  right: 6rem;
  cursor: pointer;
}
.cvs .main {
  width: 54rem;
  height: 41rem;
  background-color: #141414;
  margin: 0 auto;
  margin-top: 14rem;
  padding: 4rem;
}
.cvs .main .place {
  height: 2rem;
  color: #ffffff;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.cvs .main .place > div {
  margin-right: 1rem;
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  border: 1px solid #333333;
  box-sizing: border-box;
}
.cvs .main .place .leave_out {
  position: relative;
}
.cvs .main .place .leave_out > ul {
  overflow: hidden;
  height: 0;
  position: absolute;
  width: 7.9rem;
  border: 1px solid #333333;
  margin: 0;
  padding: 0;
  background-color: #141414;
  top: 1.9rem;
  left: -0.06rem;
}
.cvs .main .place .leave_out > ul > li {
  list-style: none;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}
.cvs .main .place .leave_out > ul > li:hover {
  background-color: #282828;
}
.cvs .main .place .leave_out > ul > li > p {
  margin: 0 0 0 1.5rem;
}
.cvs .main .place .city {
  position: relative;
}
.cvs .main .place .city > ul {
  overflow: hidden;
  height: 0;
  position: absolute;
  width: 7.9rem;
  border: 1px solid #333333;
  margin: 0;
  padding: 0;
  background-color: #141414;
  top: 1.9rem;
  left: -0.06rem;
}
.cvs .main .place .city > ul > li {
  list-style: none;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}
.cvs .main .place .city > ul > li:hover {
  background-color: #282828;
}
.cvs .main .place .city > ul > li > p {
  margin: 0 0 0 1.5rem;
}
.cvs .main .place .area {
  position: relative;
}
.cvs .main .place .area > ul {
  overflow: hidden;
  height: 0;
  position: absolute;
  width: 7.9rem;
  border: 1px solid #333333;
  margin: 0;
  padding: 0;
  background-color: #141414;
  top: 1.9rem;
  left: -0.06rem;
}
.cvs .main .place .area > ul > li {
  list-style: none;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}
.cvs .main .place .area > ul > li:hover {
  background-color: #282828;
}
.cvs .main .place .area > ul > li > p {
  margin: 0 0 0 1.5rem;
}
.cvs .main .name {
  height: 2rem;
  color: #ffffff;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.cvs .main .name > p {
  margin: 0 1rem 0 0;
}
.cvs .main .name > div {
  width: 24rem;
  height: 2rem;
  border: 1px solid #333333;
  overflow: hidden;
}
.cvs .main .name > div input {
  width: 23rem;
  height: 1.7rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline-color: #141414;
  color: #ffffff;
  margin-left: 1rem;
}
.cvs .main .filedTel {
  height: 2rem;
  color: #ffffff;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.cvs .main .filedTel > .text {
  margin: 0 1rem 0 0;
}
.cvs .main .filedTel > div {
  overflow: hidden;
}
.cvs .main .filedTel > div:nth-child(2) {
  width: 5rem;
  height: 2rem;
  border: 1px solid #333333;
  overflow: hidden;
}
.cvs .main .filedTel > div:nth-child(2) input {
  width: 5rem;
  height: 1.7rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline-color: #141414;
  color: #ffffff;
  margin-left: 1rem;
}
.cvs .main .filedTel > div:nth-child(4) {
  width: 16rem;
  height: 2rem;
  border: 1px solid #333333;
}
.cvs .main .filedTel > div:nth-child(4) input {
  width: 16rem;
  height: 1.7rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline-color: #141414;
  color: #ffffff;
  margin-left: 1rem;
}
.cvs .main .filedTel .line {
  width: 1rem;
  height: 1px;
  background-color: #333333;
  margin: 1rem 1rem 0 1rem;
}
.cvs .main .filedTel > p {
  font-size: 1rem;
  color: #ffffff;
}
.cvs .main .butBox {
  margin: 2rem 0 2rem 7rem;
  /*.mycheck label:hover::after {*/
  /*opacity: 0.5;*/
  /*}*/
}
.cvs .main .butBox .mycheck {
  width: 1.5rem;
  position: relative;
}
.cvs .main .butBox .mycheck input[type=checkbox] {
  visibility: hidden;
}
.cvs .main .butBox .mycheck label {
  cursor: pointer;
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0;
  left: 0;
  background: #141414;
  border: 2px solid #333333;
}
.cvs .main .butBox .mycheck label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 0.4rem;
  background: transparent;
  top: 0.2rem;
  left: 0.2rem;
  border: 2px solid #333;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cvs .main .butBox .mycheck input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.cvs .main .sub {
  width: 15rem;
  height: 3rem;
  border: 1px solid #BE9D70;
  border-radius: 0.5rem;
  margin-left: 7rem;
  overflow: hidden;
}
.cvs .main .sub a {
  display: block;
  width: 15rem;
  height: 3rem;
  color: #BE9D70;
  text-decoration: none;
  text-align: center;
  line-height: 3rem;
}
.m-cvs {
  display: none;
}
