{template 'header'}
<link rel="stylesheet/less" href="{MODULE_URL}template/mobile/css/heroes/heroes.less">
<link rel="stylesheet/less" href="{MODULE_URL}template/mobile/css/heroes/heroes-media.css">
<script src="{MODULE_URL}template/mobile/js/less-1.7.0.js" type="text/javascript"></script>
<div class="heroes">
  <div class="heroes-banner">
    <div class="heroes-banner-icon">
      <img src="{php echo tomedia($hero_content['heroesIcon'])}" alt="">
    </div>
    <div class="heroes-banner-content">
      <div class="word">
        <div class="word-title">{$hero_content['heroesTitle']}</div>
        <div class="word-desc">{$hero_content['heroesContent']}</div>
      </div>
    </div>
  </div>
  <div class="heroes-lists">
    <div class="contents">
      <div class="content">
        {loop $heroes $key $hero}
        {if ($key)%2 == 0}
        <div class="content-item">
          <a href="{php echo $this->createMobileUrl('list',array('cid'=>$hero['wid']))}">
          <div class="content-item-icon">
            <img src="{php echo tomedia($hero['heroIcon'])}" alt="">
          </div>
          <div class="content-item-word pc-show">
            <div class="content">
              <div class="content-title">
                {$hero['heroTitle']}
                <img src="{MODULE_URL}template/mobile/images/more.png" alt="">
              </div>
              <div class="content-desc">
                {$hero['heroDesc']}
              </div>
            </div>
          </div>
          <div class="common-content-item mobile-show common-color">
            <div class="content">
              <div class="content-title">
                {$hero['heroTitle']}
              </div>
              <div class="content-desc">
                {$hero['heroDesc']}
              </div>
              <div class="content-footer">
                <img src="{MODULE_URL}template/mobile/images/more.png" alt="">
              </div>
            </div>
          </div>
          </a>
        </div>
        {else}
        <div class="content-spe">
          <a href="{php echo $this->createMobileUrl('list',array('cid'=>$hero['wid']))}">
          <div class="content-spe-word pc-show">
            <div class="content">
              <div class="content-title">
                {$hero['heroTitle']}
                <img src="{MODULE_URL}template/mobile/images/more1.png" alt="">
              </div>
              <div class="content-desc">
                {$hero['heroDesc']}
              </div>
            </div>
          </div>
          <div class="content-item-icon">
            <img src="{php echo tomedia($hero['heroIcon'])}" alt="">
          </div>
          <div class="common-content-item mobile-show spe-color">
            <div class="content">
              <div class="content-title">
                {$hero['heroTitle']}
              </div>
              <div class="content-desc">
                {$hero['heroDesc']}
              </div>
              <div class="content-footer">
                <img src="{MODULE_URL}template/mobile/images/more1.png" alt="">
              </div>
            </div>
          </div>
          </a>
        </div>
        {/if}
        {/loop}
      </div>
      <!-- <div class="hoping">
        <div>增值服务项目即将呈现</div>
        <div>敬请期待中...</div>
      </div> -->
      <!-- <div class="hoping-img">
        <img src="{MODULE_URL}template/mobile/images/media/hoping.png" alt="">
      </div> -->
    </div>
  </div>
</div>
{template 'footer'}
